.title {
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#d655ed;
    background-color:black;
    text-align: center;
}

.recipe-list {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color:brown;
    text-align:center;
}

.martin {
    text-align:center;
}